/*
Orange color: #e67e22

*/


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
*
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body
{
    background: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; /* hará que el texto se renderice a la perfección */
    overflow-x: hidden; /* todo el excedente horizontal desaparecerá */
}

.clearfix
{
    zoom: 1;
}

.clearfix:after
{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;

}


/* --------------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------------- */
.row
{
    max-width: 1140px;
    margin: 0 auto; /* top-bottom: 0, left-right: auto */
}

section
{
    padding: 80px 0; /* 80px top-bottom | 0 left and right */
}

.box
{
    padding: 1%;
}


/* ----- HEADINGS ----- */
h1, h2, h3
{
    font-weight: 300;
    text-transform: uppercase;
}

h1
{
    margin-top: 0; /* elimina el margin de normalize.css*/
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%; /* 200% = 40px */
    word-spacing: 4px; /* espacio entre palabras */
    letter-spacing: 1px; /* espacio entre caracteres */
}

h2
{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px; /* espacio entre caracteres */
}

h3
{
    font-size: 110%;
    margin-bottom: 15px;
}

/* añadir franja naranja debajo del heading 
Una vez que hacemos una pseudo clase :after, debemos especificar su contenido
y en este caso, no queremos que lleve contenido por eso lleva el string vacío. */
h2:after
{
    display: block;
    height: 2px;
    background: #e67e22;
    content: " ";
    width: 100px; /* ancho de esa línea */
    margin: 0 auto;
    margin-top: 30px;
}

/* ----- PARAGRAPHS ----- */
.long-copy
{
    line-height: 145%; /* valores entre 120% y 145% */
    width: 70%; /* un parrafo debe tener de ancho máximo 2 alfabetos */
    margin-left: 15%;
}

.box p
{
    font-size: 90%;
    line-height: 145%;

}

/* ----- ICONS ----- */
.icon-big
{
    font-size: 350%;
    display: block; /* fuerza un salto de línea */
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small
{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    /* secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ----- BUTTONS ----- */
a:link,
a:visited
{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active
{
    color:#555;
    border-bottom: 1px solid transparent;
}


/* ----- BUTTONS ----- */
/* link = boton en estado normal */
/* visited = botón después de haberlo visitado */
.btn:link,
.btn:visited,
input[type=submit]
{
    display: inline-block; /* convertimos en bloque al elemento 'a' que es en línea, para otorgarle padding */
    padding: 10px 30px; /* 10px top - bottom | 30px left - right */
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    /* transición para el cambio de color en hover */
}

.btn-full:link,
.btn-full:visited,
input[type=submit]
{
    background: #e67e22;
    border: 1px solid #e67e22; /* borde para que comparta la misma altura que el otro botón */
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited
{
    border: 1px solid #e67e22;
    color: #e67e22;
}

/* btn hover = estado cuando pasas el mouse sobre el btn */
/* active = estado cuando haces click en el botón*/
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active
{
    background: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]
{
    border: 1px solid #cf6d17; /* borde para que comparta la misma altura que el otro botón */
}

.btn-ghost:hover,
.btn-ghost:active
{
    border: 1px solid #cf6d17;
    color: #fff;
}


/* --------------------------------------------- */
/* HEADER */
/* --------------------------------------------- */

header
{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7))), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/hero.jpg);
    background-size: cover; /* para que se vea la imagen completa y no tan zoomeada */
    background-position: center; /* centra la img */
    height: 100vh; /* 100% del view port heigh */
    background-attachment: fixed;
}

.hero-text-box
{
    position: absolute; /* para centrarla horizontal y verticalmente */
    width: 1140px;
    top: 50%; /* centramos el texto */
    left: 50%; /* centramos el texto */
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); /* trick que traslada el elemento la mitad de su ancho y la mitad de su alto arriba hacía la iziquierda */
}

.logo
{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black
{
    display: none; /* se mantiene oculto el logo negro */
    height: 50px; /* para que tenga la misma altura que el nav */
    width: auto;
    float: left;
    margin: 5px 0;
}

/* Main navi */
.main-nav
{
    float: right;
    list-style: none; /* elimina los bullets a la lista */
    margin-top: 55px;
}

.main-nav li
{
    display: inline-block; /* permite agregar padding y que estén uno al lado del otro */
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited
{
    padding: 8px 0px; /* top-bottom: 8px | left-right: 0px */
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%; /* 20px html font-size dividido en 18px == 0.9 (90%)*/
    border-bottom: 2px solid transparent; /* transparent = no será visible hasta que realmente lo pasemos*/
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active
{
    border-bottom: 2px solid #e67e22; /* borde naranjo en los links */
}

/* Sticky navi */
.sticky
{
    position: fixed; /* se mantiene siempre en el mismo lugar, independiente del scrolling */
    top: 0; /* lugar donde comenzará el nav: en el 0,0 */
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.98);
    box-shadow: 0 2px 2px #efefef; /* X axis, Y axis, blur, color */
    z-index: 9999; /* posicona un elemento más adelante o más atrás de otros (9999 val máximo) */
}

.sticky .main-nav
{
    margin-top: 18px; /* bajamos el margin top a la navegación */
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited
{
    padding: 17px 0; /* top-bottom: 8px | left-right: 0px */ /* 16px para aumentar el espacio entre la barra de color y el texto de los links  */
    color: #555;
}

.sticky .logo
{
    display: none; /* ocultamos el logo blanco en modo sticky */
}

.sticky .logo-black
{
    display: block; /* cuando este en sticky de display none, pasará a block y se mostrará */
}


/* --------------------------------------------- */
/* FEATURES */
/* --------------------------------------------- */
.section-features .long-copy
{
    margin-bottom: 30px;
}


/* --------------------------------------------- */
/* MEALS */
/* --------------------------------------------- */

.section-meals
{
    padding: 0;
}

.meals-showcase
{
    list-style: none;
    width: 100%;
}

.meals-showcase li
{
    display: block;
    float: left;
    width: 25%; /* 25% es la medida para que quepan 4 elementos en un ancho de 100% */
    background: #000;
}

.meal-photo
{
    width: 100%;
    margin: 0;
    overflow: hidden; /* esta propiedad corrige el desbordamiento del elemento hijo img con 'scale' */
}

.meal-photo img
{
    opacity: 0.7; /* 70% opacidad (aclara la imagen) */
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
            transform: scale(1.15); /* la img será de 115% más grande: se saldrán del ancho del browser */
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover
{
    opacity: 1;
    -webkit-transform: scale(1.03);
            transform: scale(1.03); /* la img será cerca de 100%, es decir, volverá a su estado original, ya que scale(1) dejará una franja blanca. */
}


/* --------------------------------------------- */
/* HOW IT WORKS */
/* --------------------------------------------- */
.section-steps
{
    background: #f4f4f4;
}

.steps-box:first-child /* selecciona el primer "steps-box" que enuentre en el DOM */
{
    text-align: right; /* funciona para todos los elementos inlineblock elements como la imagen. */
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child /* selecciona el último "steps-box" que enuentre en el DOM */
{
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen
{
    width: 40%;
}

.works-step
{
    margin-bottom: 50px;
}

.works-step:last-of-type /* funciona similar a :last-child */
{
    margin-bottom: 80px;
}

.works-step div
{
    color:#e67e22;
    border: 2px solid #e67e22;
    display: inline-block; /* aseguramos que el elemento no fuerce un salto de línea así puede estar al lado del elemento texto */
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited
{
    border: 0;
}

.btn-app img
{
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/* --------------------------------------------- */
/* CITIES */
/* --------------------------------------------- */
.box img
{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature
{
    margin-bottom: 5px;
}


/* --------------------------------------------- */
/* TESTIMONIALS */
/* --------------------------------------------- */
.section-testimonials
{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0.8))),url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(img/back-customers.jpg);
    background-size: cover; /* para que se vea la imagen completa y no tan zoomeada */
    color: #fff;
    background-attachment: fixed;
}

blockquote
{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before
{
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

cite
{
    font-size: 90%;
    margin-top: 25px;
    display: block; /* lo definimos como block para que deje el 'cite' abajo */
}

cite img
{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/* --------------------------------------------- */
/* SIGN UP */
/* --------------------------------------------- */
.section-plans
{
    background: #f4f4f4;
}

.plan-box
{
    background: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
            box-shadow: 0 2px 2px #efefef; /* primer valor:  | X axis | Y axis | blur | color*/
}

.plan-box div
{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child
{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child
{
    text-align: center;
    border: 0;
}

.plan-price
{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span
{
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal
{
    font-size: 80%;
}

.plan-box ul
{
    list-style: none;
}

.plan-box ul li
{
    padding: 5px 0; /* 5px top-bottom | 0 left-right */
}

/* --------------------------------------------- */
/* FORM */
/* --------------------------------------------- */
.contact-form
{
    width: 60%;
    margin: 0 auto; /* centra el contenido */
}

input[type=text],
input[type=email],
select,
textarea
{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea
{
    height: 100px;
}

input[type=checkbox]
{
    margin: 10px 5px 10px 0; /* top - left - bottom - right */
}

*:focus /* borrar los bordes azules de chrome en los input */
{
    outline: none;
}

/* --------------------------------------------- */
/* FOOTER */
/* --------------------------------------------- */
footer
{
    background-color: #333;
    padding: 50px; /* relleno para que sea más grande */
    font-size: 80%;
}

.footer-nav
{
    list-style: none;
    float: left;
}

.social-links
{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li
{
    display: inline-block; /* esto permite que la lista pase a ser una fila en línea */
    margin-right: 20px
}

.footer-nav li:last-child,
.social-links li:last-child
{
    margin: 0; /* con esto dejamos el último elemento li sin margen a la derecha */
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited
{
    text-decoration: none;
    border: 0; /* elimina el borde que hereda de la configuración general más arriba */
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; /* le da la animación al momento de hacer hover */
}

.footer-nav li a:hover,
.footer-nav li a:active
{
    color: #ddd;
}

.social-links li a:link,
.social-links li a:active
{
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram
{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover
{
    color: #3b5998;
}

.ion-social-twitter:hover
{
    color: #00aced;
}

.ion-social-googleplus:hover
{
    color: #dd4b39;
}

.ion-social-instagram:hover
{
    color: #517fa4;
}

footer p 
{
    color: #888;
    text-align: center;
    margin-top: 20px;
}